.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

.navbar ul {
  width: 30%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  items-align: center;
}

.logo {
  width: 50%;
}
